@import url(loader.css);
@import url(animation.css);
.tabs-content {
  position: relative;
  padding: .4em; }
  .tabs-content > ul.vd-tabs-list {
    margin: 0;
    padding: 0px; }
    .tabs-content > ul.vd-tabs-list.vd-align-center {
      text-align: center; }
    .tabs-content > ul.vd-tabs-list.vd-align-left {
      text-align: left; }
    .tabs-content > ul.vd-tabs-list.vd-align-right {
      text-align: right; }
    .tabs-content > ul.vd-tabs-list:hover {
      z-index: 1001;
      position: relative; }
    .tabs-content > ul.vd-tabs-list > li {
      position: relative;
      top: 0;
      float: left;
      margin: 1px 1px 0 0;
      padding: 0;
      list-style: none;
      white-space: nowrap;
      color: #fff;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: #4c5866;
      font-weight: normal; }
      .tabs-content > ul.vd-tabs-list > li.tab-control > a {
        border: 0; }
        .tabs-content > ul.vd-tabs-list > li.tab-control > a:first-child {
          border-top-left-radius: 5px; }
        .tabs-content > ul.vd-tabs-list > li.tab-control > a:last-child {
          border-top-right-radius: 5px; }
      .tabs-content > ul.vd-tabs-list > li.active {
        font-weight: normal; }
        .tabs-content > ul.vd-tabs-list > li.active > a {
          background-color: #F8F8F8;
          color: #000; }
          .tabs-content > ul.vd-tabs-list > li.active > a.vd-btn {
            display: block !important; }
      .tabs-content > ul.vd-tabs-list > li:not(.tab-control) > a.vd-btn {
        display: none;
        width: 40px;
        height: 40px; }
      .tabs-content > ul.vd-tabs-list > li > a {
        display: block;
        float: left;
        padding: 11px 14px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-size: 13px; }
  .tabs-content > .block-section {
    display: block;
    margin-top: 0px;
    color: #333333;
    /* border: 1px solid #dddddd;*/
    background: #F8F8F8; }

.tour-content {
  position: relative;
  display: flex;
  padding: 0px !important; }
  .tour-content > .control {
    padding-bottom: 10px; }
  .tour-content > ul.vd-tour-list {
    float: left;
    flex: 0 0 202px;
    min-height: 112px;
    margin: 0;
    padding: 0; }
    .tour-content > ul.vd-tour-list > li {
      position: relative;
      top: 0;
      float: left;
      clear: left;
      width: 100%;
      margin: 0 0 1px 0;
      padding: 0;
      padding-right: .1em;
      padding-bottom: 0;
      list-style: none;
      white-space: nowrap;
      color: #fff;
      border-right-width: 0 !important;
      border-bottom-width: 1px !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 5px;
      background: #4c5866;
      font-weight: normal; }
      .tour-content > ul.vd-tour-list > li.tab-control > a {
        border: 0; }
        .tour-content > ul.vd-tour-list > li.tab-control > a:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px; }
      .tour-content > ul.vd-tour-list > li.active {
        background: #F8F8F8;
        font-weight: normal; }
        .tour-content > ul.vd-tour-list > li.active > a {
          color: #4c5866; }
          .tour-content > ul.vd-tour-list > li.active > a.vd-btn {
            display: block !important; }
      .tour-content > ul.vd-tour-list > li:not(.tab-control) > a.vd-btn {
        display: none;
        width: 40px;
        height: 40px; }
      .tour-content > ul.vd-tour-list > li > a {
        display: block;
        float: left;
        padding: 14px 20px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        line-height: 15.6px; }
  .tour-content > .block-section {
    display: block;
    float: right;
    width: calc(100% - 12em);
    padding: 1em 1.4em;
    padding: 1px;
    border-width: 0;
    background: #F8F8F8; }

.vd-btn {
  text-align: center;
  cursor: pointer; }

.vd-btn-small {
  font-size: 9px; }

@font-face {
  font-family: 'Glyph';
  src: url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"); }
.animate-speed {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.vd.mode_switch {
  display: inline-block;
  box-sizing: border-box;
  height: 41px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  cursor: default;
  border-radius: 4px;
  font-size: 11px;
  line-height: 46px; }
  .vd.mode_switch a {
    display: inline-block;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out; }
  .vd.mode_switch a:hover {
    background-color: #f5f5f5; }

.element-placeholder {
  border: 1px dashed #96a9ba;
  height: 47px;
  border-radius: 4px;
  margin: 0 0 9px; }

.row-placeholder {
  border: 1px dashed #96a9ba;
  height: 100px;
  border-radius: 4px;
  margin: 0 0 9px; }

.modal-backdrop {
  display: none; }

.content {
  position: relative;
  min-width: 155px;
  border: 1px solid #e5e5e5;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }
  .content .glyphicon {
    font-family: 'Glyph'; }
  .content.fullscreen {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%; }
  .content > .title {
    padding: 8px 12px 12px 8px;
    border-bottom: 1px solid #eee;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.6px; }
  .content .vd-notify {
    position: absolute;
    z-index: 1001;
    top: 97px;
    left: 0;
    display: none;
    width: 100%;
    height: 40px;
    padding: 5px;
    text-align: center;
    color: #8E9D84;
    background: #D8EDC7;
    line-height: 30px; }
  .content .vd-designer {
    position: relative;
    background: white;
    padding: 30px 30px 50px 30px; }
    .content .vd-designer .block-container {
      background: #fafcfd;
      margin: 0 0 15px;
      position: relative; }
      .content .vd-designer .block-container.vd-col-1 {
        margin-right: 1%;
        margin-left: 1%;
        width: 6.3333333333%;
        float: left; }
      .content .vd-designer .block-container.vd-col-2 {
        margin-right: 1%;
        margin-left: 1%;
        width: 14.6666666667%;
        float: left; }
      .content .vd-designer .block-container.vd-col-3 {
        margin-right: 1%;
        margin-left: 1%;
        width: 23%;
        float: left; }
      .content .vd-designer .block-container.vd-col-4 {
        margin-right: 1%;
        margin-left: 1%;
        width: 31.3333333333%;
        float: left; }
      .content .vd-designer .block-container.vd-col-5 {
        margin-right: 1%;
        margin-left: 1%;
        width: 39.6666666667%;
        float: left; }
      .content .vd-designer .block-container.vd-col-6 {
        margin-right: 1%;
        margin-left: 1%;
        width: 48%;
        float: left; }
      .content .vd-designer .block-container.vd-col-7 {
        margin-right: 1%;
        margin-left: 1%;
        width: 56.3333333333%;
        float: left; }
      .content .vd-designer .block-container.vd-col-8 {
        margin-right: 1%;
        margin-left: 1%;
        width: 64.6666666667%;
        float: left; }
      .content .vd-designer .block-container.vd-col-9 {
        margin-right: 1%;
        margin-left: 1%;
        width: 73%;
        float: left; }
      .content .vd-designer .block-container.vd-col-10 {
        margin-right: 1%;
        margin-left: 1%;
        width: 81.3333333333%;
        float: left; }
      .content .vd-designer .block-container.vd-col-11 {
        margin-right: 1%;
        margin-left: 1%;
        width: 89.6666666667%;
        float: left; }
      .content .vd-designer .block-container.vd-col-12 {
        margin-right: 1%;
        margin-left: 1%;
        width: 98%;
        float: left; }
      .content .vd-designer .block-container .control-advanced {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 4px 0 0 4px;
        width: 50px;
        font-size: 32px; }
        .content .vd-designer .block-container .control-advanced ~ .block-content {
          padding: 15px 15px 40px 65px !important;
          position: relative; }
          .content .vd-designer .block-container .control-advanced ~ .block-content > .vd-new-child-block {
            left: 75px; }
        .content .vd-designer .block-container .control-advanced > .vd-btn {
          left: 8px;
          z-index: 9;
          position: absolute; }
          .content .vd-designer .block-container .control-advanced > .vd-btn.vd-btn-edit {
            top: 7px;
            bottom: auto; }
          .content .vd-designer .block-container .control-advanced > .vd-btn.vd-btn-copy {
            top: 40px;
            bottom: auto; }
          .content .vd-designer .block-container .control-advanced > .vd-btn.vd-btn-layout {
            top: 72px;
            bottom: auto; }
          .content .vd-designer .block-container .control-advanced > .vd-btn.vd-btn-add-child {
            top: 104px;
            bottom: auto; }
          .content .vd-designer .block-container .control-advanced > .vd-btn.vd-btn-remove {
            top: auto;
            bottom: 7px; }
      .content .vd-designer .block-container .control-top {
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        z-index: 1; }
        .content .vd-designer .block-container .control-top ~ .block-content {
          padding: 65px 15px 40px 15px; }
        .content .vd-designer .block-container .control-top > .vd-btn {
          position: absolute;
          top: 7px; }
          .content .vd-designer .block-container .control-top > .vd-btn.vd-btn-edit {
            left: 5px; }
          .content .vd-designer .block-container .control-top > .vd-btn.vd-btn-copy {
            left: 37px; }
          .content .vd-designer .block-container .control-top > .vd-btn.vd-btn-remove {
            right: 5px; }
      .content .vd-designer .block-container .control-popup {
        position: relative; }
        .content .vd-designer .block-container .control-popup > .title {
          line-height: 32px;
          min-height: 32px; }
        .content .vd-designer .block-container .control-popup > .vd-btn.vd-btn-edit {
          float: left; }
        .content .vd-designer .block-container .control-popup > .vd-btn.vd-btn-copy {
          float: left; }
        .content .vd-designer .block-container .control-popup > .vd-btn.vd-btn-remove {
          float: right; }
      .content .vd-designer .block-container > .block-content {
        position: relative; }
        .content .vd-designer .block-container > .block-content > .vd-new-child-block {
          position: absolute;
          bottom: 15px;
          left: 10px;
          cursor: pointer;
          font-size: 13px;
          line-height: 20px;
          display: flex;
          align-items: center;
          padding-left: 10px; }
          .content .vd-designer .block-container > .block-content > .vd-new-child-block > i {
            font-size: 18px;
            margin-right: 5px; }
      .content .vd-designer .block-container:after {
        content: '';
        display: table;
        clear: both; }
      .content .vd-designer .block-container > .control > a {
        cursor: pointer;
        display: block;
        width: 32px;
        height: 32px; }
      .content .vd-designer .block-container.block-parent {
        background: #DEE3E7; }
        .content .vd-designer .block-container.block-parent > .control {
          background-color: #56a6e6; }
      .content .vd-designer .block-container.block-inner {
        border-radius: 4px; }
        .content .vd-designer .block-container.block-inner.level0 {
          background: #DEE3E7; }
          .content .vd-designer .block-container.block-inner.level0 > .control {
            background-color: #4c5866; }
        .content .vd-designer .block-container.block-inner > .block-content {
          padding-left: 15px; }
        .content .vd-designer .block-container.block-inner > .control {
          background-color: #f4c000; }
      .content .vd-designer .block-container.block-child {
        border-radius: 4px;
        background-color: #84c24d;
        padding: 8px;
        color: #f5f5f5;
        text-align: center;
        margin: 0 0 9px;
        min-height: 30px;
        box-sizing: content-box; }
        .content .vd-designer .block-container.block-child:after {
          display: table;
          clear: both;
          content: ''; }
        .content .vd-designer .block-container.block-child > .title {
          font-size: 14px;
          min-width: 65px;
          margin: 6px 0;
          display: inline-block; }
      .content .vd-designer .block-container.block-inner, .content .vd-designer .block-container.block-parent {
        min-height: 130px; }
  .content #d_visual_designer_nav {
    box-sizing: border-box;
    min-height: 55px;
    margin: 0;
    border: 0;
    background-color: #1F7DC7; }
    .content #d_visual_designer_nav a:hover {
      background-color: #f5f5f5; }
    .content #d_visual_designer_nav a {
      display: block;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background-color: #308cd6;
      border: none;
      float: left;
      margin-right: 1px;
      border-radius: 0px;
      box-shadow: none; }
      .content #d_visual_designer_nav a#button_add {
        background-color: #F5C000; }
        .content #d_visual_designer_nav a#button_add:hover {
          background-color: #f7cd32; }
      .content #d_visual_designer_nav a#button_add {
        background-image: url("../../image/d_visual_designer/add-block.svg");
        background-repeat: no-repeat;
        background-position: center; }
      .content #d_visual_designer_nav a#button_template {
        background-image: url("../../image/d_visual_designer/template-add.svg");
        background-repeat: no-repeat;
        background-position: center; }
      .content #d_visual_designer_nav a#button_save_template {
        background-image: url("../../image/d_visual_designer/template-save.svg");
        background-repeat: no-repeat;
        background-position: center; }
      .content #d_visual_designer_nav a#button_code_view {
        background-image: url("../../image/d_visual_designer/code-editor.svg");
        background-repeat: no-repeat;
        background-position: center; }
      .content #d_visual_designer_nav a#button_full_screen {
        background-image: url("../../image/d_visual_designer/resize-full.svg");
        background-repeat: no-repeat;
        background-position: center; }
        .content #d_visual_designer_nav a#button_full_screen.active {
          background-image: url("../../image/d_visual_designer/resize-small.svg");
          background-repeat: no-repeat;
          background-position: center; }
      .content #d_visual_designer_nav a:hover {
        background-color: #56a6e6; }
      .content #d_visual_designer_nav a > i {
        font-size: 35px; }

.popup-codeview {
  padding: 10px; }
  .popup-codeview > textarea.text-codeview {
    width: 100%;
    min-height: 200px; }

.popup-new-template {
  padding: 5px; }
  .popup-new-template > .element {
    margin: 0 !important;
    padding: 30px !important;
    list-style: none;
    -webkit-transition: border-color .2s;
    transition: border-color .2s; }
    .popup-new-template > .element:hover > .template > a > img {
      border-width: 1px;
      border-color: #308cd6;
      border-style: solid;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      cursor: pointer; }
    .popup-new-template > .element > .template {
      text-align: center; }
      .popup-new-template > .element > .template > a {
        font-weight: 600;
        line-height: 14px; }
        .popup-new-template > .element > .template > a > img {
          border-width: 1px;
          border-color: #e2e1e1;
          border-style: solid; }
        .popup-new-template > .element > .template > a > p.title {
          padding-top: 20px;
          color: #000;
          font-size: 16px;
          line-height: 20px;
          height: 20px; }
  .popup-new-template > .title {
    margin: 0 1em 0 0;
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .popup-new-template .form-group {
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px; }

.popup-new-block {
  overflow-y: auto;
  height: auto;
  margin: 0px; }
  .popup-new-block > .title {
    margin: 0 1em 0 0;
    color: inherit;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .popup-new-block .form-group {
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px; }
  .popup-new-block .element:hover > .block {
    cursor: pointer;
    color: #000;
    background: #f5f5f5; }
    .popup-new-block .element:hover > .block > a {
      color: #000; }
      .popup-new-block .element:hover > .block > a > i {
        color: #000; }
  .popup-new-block .element {
    position: relative;
    padding: 0px;
    float: left;
    overflow: hidden;
    height: 100px;
    list-style: none;
    -webkit-transition: border-color .2s;
    transition: border-color .2s; }
    .popup-new-block .element .block {
      display: table;
      width: 100%;
      height: 94px;
      border: 0;
      background: #fff;
      border-radius: 5px; }
      .popup-new-block .element .block a {
        position: relative;
        display: table-cell;
        padding: 2px 20px 2px 93px;
        vertical-align: middle;
        white-space: normal;
        text-decoration: none;
        color: #000;
        outline: 0;
        font-weight: 600;
        line-height: 14px; }
        .popup-new-block .element .block a > span {
          position: absolute;
          top: 50%;
          left: 20px;
          display: block;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 54px;
          height: 54px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .popup-new-block .element .block a > span > img {
            width: 54px;
            height: 54px; }
        .popup-new-block .element .block a .description {
          position: relative;
          top: auto;
          left: auto;
          display: block;
          width: auto;
          height: auto;
          margin-top: 3px;
          color: #000;
          background-color: transparent;
          font-size: 11px;
          font-weight: 400;
          font-style: normal; }

.vd-popup {
  position: fixed;
  z-index: 1003 !important;
  top: 20%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 50%;
  min-width: 400px;
  height: auto;
  max-height: 75%;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; }
  .vd-popup .glyphicon {
    font-family: 'Glyph'; }
  .vd-popup:not(.drag) {
    -webkit-transition: all .3s;
    transition: all .3s; }
  .vd-popup.add_block > .popup-content {
    padding: 0px;
    border-bottom: 1px solid #c8c8c8; }
  .vd-popup.edit-layout > .popup-content {
    padding: 0px;
    border-bottom: 1px solid #c8c8c8; }
    .vd-popup.edit-layout > .popup-content > .setting {
      padding: 0px 30px 30px 30px; }
  .vd-popup.add_template {
    width: 60%;
    left: 20%; }
    .vd-popup.add_template > .popup-header > div.search {
      top: 8px; }
    .vd-popup.add_template > .popup-tabs li > a {
      cursor: pointer; }
    .vd-popup.add_template > .popup-tabs.active + .popup-tabs.templates {
      display: block; }
    .vd-popup.add_template > .popup-tabs.templates {
      display: none; }
    .vd-popup.add_template > .popup-content {
      padding: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px solid #c8c8c8; }
  .vd-popup.add_block {
    width: 60%;
    left: 20%; }
    .vd-popup.add_block > .popup-header {
      height: 52px;
      background: #73B338; }
      .vd-popup.add_block > .popup-header > .title {
        margin: 0 0 8.5px 0;
        text-align: left;
        color: white;
        font-size: 20px; }
      .vd-popup.add_block > .popup-header > a.close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 52px;
        height: 52px;
        opacity: 1; }
        .vd-popup.add_block > .popup-header > a.close:hover {
          border-top-right-radius: 5px;
          background-color: #85C24D; }
    .vd-popup.add_block > .popup-tabs .vd-nav {
      background: #8bc15b; }
      .vd-popup.add_block > .popup-tabs .vd-nav li > a {
        cursor: pointer; }
        .vd-popup.add_block > .popup-tabs .vd-nav li > a:hover {
          background-color: #a6d27e; }
      .vd-popup.add_block > .popup-tabs .vd-nav li.active > a {
        background-color: #a6d27e; }
    .vd-popup.add_block > .popup-content {
      max-height: 450px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }
  .vd-popup #tab-save-template > .popup-footer {
    margin: 15px -5px -5px -5px; }
  .vd-popup.inner > .popup-header {
    background: #f4c000; }
    .vd-popup.inner > .popup-header > a.close:hover {
      background-color: #f7cd32; }
  .vd-popup.inner .popup-tabs .vd-nav {
    background: #FFD434; }
    .vd-popup.inner .popup-tabs .vd-nav li > a:hover {
      background-color: #FFD434; }
    .vd-popup.inner .popup-tabs .vd-nav li.active > a {
      background-color: #FFDD5F; }
  .vd-popup.child > .popup-header {
    background: #72b338; }
    .vd-popup.child > .popup-header > a.close:hover {
      background-color: #84c24d; }
  .vd-popup.child .popup-tabs .vd-nav {
    background: #8bc15b; }
    .vd-popup.child .popup-tabs .vd-nav li > a:hover {
      background-color: #a6d27e; }
    .vd-popup.child .popup-tabs .vd-nav li.active > a {
      background-color: #a6d27e; }
  .vd-popup .popup-header {
    margin: 0px !important;
    padding: 15px 15px 0px 15px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #308cd6;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    .vd-popup .popup-header > a.close {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: white;
      text-shadow: none;
      position: absolute;
      top: 0px;
      right: 0px;
      width: 45.5px;
      height: 45.5px;
      opacity: 1; }
      .vd-popup .popup-header > a.close:hover {
        border-top-right-radius: 5px;
        background-color: #56a6e6; }
    .vd-popup .popup-header > .title {
      margin: 0 0 8.5px 0;
      text-align: left;
      color: white;
      font-size: 20px; }
    .vd-popup .popup-header > div.search {
      position: absolute;
      top: 11px;
      right: 60px; }
      .vd-popup .popup-header > div.search > i {
        position: absolute;
        z-index: 99;
        top: 10px;
        right: 175px;
        cursor: pointer;
        color: #BDC0C6; }
      .vd-popup .popup-header > div.search > input {
        position: relative;
        left: 0;
        display: inline-block;
        box-sizing: border-box;
        width: 200px;
        margin: 0;
        padding: 7px 12px 7px 32px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        vertical-align: middle;
        color: #333;
        border: none;
        border-radius: 5px;
        font-family: inherit;
        font-size: 12px;
        line-height: normal; }
  .vd-popup .popup-tabs .vd-nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #539FDF; }
    .vd-popup .popup-tabs .vd-nav > li {
      float: left; }
      .vd-popup .popup-tabs .vd-nav > li > a {
        display: block;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        color: white; }
        .vd-popup .popup-tabs .vd-nav > li > a:hover {
          background-color: #308CD6; }
      .vd-popup .popup-tabs .vd-nav > li.active > a {
        background-color: #7FB9E9; }
  .vd-popup .popup-content {
    overflow-y: auto;
    padding: 30px;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    background-color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    .vd-popup .popup-content > .notify {
      display: block;
      margin: 20px; }
      .vd-popup .popup-content > .notify a {
        display: block;
        padding: 10px;
        margin: -10px;
        font-weight: 700;
        color: inherit;
        font-size: 13px;
        text-align: center; }
    .vd-popup .popup-content .icons-selector {
      width: 100%; }
      .vd-popup .popup-content .icons-selector .selector-popup {
        position: relative;
        min-width: 100%;
        max-height: 100%;
        overflow: hidden; }
        .vd-popup .popup-content .icons-selector .selector-popup > .fip-icons-container {
          max-height: 300px;
          overflow: auto; }
    .vd-popup .popup-content .form-group {
      margin: 0px 0px 20px 0px;
      margin-bottom: 0px;
      font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif; }
      .vd-popup .popup-content .form-group.has-error > label {
        color: #f56b6b; }
      .vd-popup .popup-content .form-group > label {
        display: block;
        margin: 0 0 4px;
        text-align: left;
        color: #32373c;
        font-size: 14px;
        font-weight: 600; }
      .vd-popup .popup-content .form-group > .fg-setting {
        width: 100%; }
        .vd-popup .popup-content .form-group > .fg-setting .range {
          position: relative;
          height: 35px;
          display: flex;
          align-items: center; }
        .vd-popup .popup-content .form-group > .fg-setting > label.vd-checkbox {
          font-size: 13px;
          color: #32373c;
          line-height: 18.2px;
          cursor: pointer;
          margin: 0;
          display: inline;
          font-weight: normal; }
          .vd-popup .popup-content .form-group > .fg-setting > label.vd-checkbox > input[type=checkbox] {
            font-size: 14px;
            line-height: 0;
            position: relative;
            display: inline-block;
            float: none;
            clear: none;
            width: 25px;
            min-width: 16px;
            height: 25px;
            margin: 0 10px 10px 0;
            padding: 0 !important;
            cursor: pointer;
            -webkit-transition: .05s border-color ease-in-out;
            transition: .05s border-color ease-in-out;
            text-align: center;
            vertical-align: middle;
            color: #32373c;
            border: none;
            border-radius: 4px;
            outline: 0;
            background: #f1f5f9;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: none;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            -webkit-appearance: none; }
            .vd-popup .popup-content .form-group > .fg-setting > label.vd-checkbox > input[type=checkbox]:focus {
              box-shadow: none !important;
              outline: none !important;
              background: #E0E5EA;
              -webkit-transition: background .5s;
              transition: background .5s; }
            .vd-popup .popup-content .form-group > .fg-setting > label.vd-checkbox > input[type=checkbox]:checked:after {
              display: none; }
            .vd-popup .popup-content .form-group > .fg-setting > label.vd-checkbox > input[type=checkbox]:checked:before {
              position: absolute;
              top: 6px;
              left: 8px;
              width: 11px;
              height: 8px;
              content: '';
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              border: 2px solid #00c3aa;
              border-top: none;
              border-right: none;
              background: rgba(0, 0, 0, 0); }
        .vd-popup .popup-content .form-group > .fg-setting input[type=range] {
          position: relative;
          top: 0px;
          display: inline-block;
          background-color: #e8eef5;
          width: 74%;
          height: 5px;
          margin: 0;
          padding: 0;
          -webkit-appearance: none; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]:focus {
            outline: none !important;
            box-shadow: none !important; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: #2b87da;
            width: 15px;
            height: 15px;
            border-radius: 15px; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-moz-range-track {
            background: transparent;
            border: inherit; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-ms-track {
            background: transparent;
            border: inherit;
            color: transparent; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-ms-fill-lower, .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-ms-fill-upper {
            background: transparent; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-ms-tooltip {
            display: none; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            background-color: #2b87da;
            width: 15px;
            height: 15px;
            border: 0;
            border-radius: 15px; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-moz-range-thumb {
            background-color: #2b87da;
            width: 15px;
            height: 15px;
            border: 0;
            border-radius: 15px; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range]::-ms-thumb {
            background-color: #2b87da;
            width: 15px;
            height: 15px;
            border: 0;
            border-radius: 15px; }
          .vd-popup .popup-content .form-group > .fg-setting input[type=range] + input[type=text] {
            position: absolute;
            top: 0;
            right: 0;
            width: 20% !important; }
        .vd-popup .popup-content .form-group > .fg-setting .wrap-setting {
          float: left;
          width: 20%;
          margin: 0 5% 0 0;
          text-align: center; }
          .vd-popup .popup-content .form-group > .fg-setting .wrap-setting.wrap-50 {
            width: 50%;
            padding: 0 5% 0 0;
            margin: 0; }
            .vd-popup .popup-content .form-group > .fg-setting .wrap-setting.wrap-50:last-child {
              padding: 0 0 0 5%; }
        .vd-popup .popup-content .form-group > .fg-setting .fg-color {
          width: 30%; }
  .vd-popup .popup-footer {
    /* padding: 18px;*/
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f6f6f6;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    .vd-popup .popup-footer .vd-btn-group.btn-4 > .vd-btn {
      width: 25%; }
    .vd-popup .popup-footer .vd-btn-group > .vd-btn:first-child {
      border-bottom-left-radius: 5px; }
    .vd-popup .popup-footer .vd-btn-group > .vd-btn:last-child {
      border-bottom-right-radius: 5px; }
    .vd-popup .popup-footer .vd-btn-group > .vd-btn {
      border-radius: 0px;
      float: left;
      width: auto; }
    .vd-popup .popup-footer .vd-btn-group::after {
      display: table;
      content: '';
      clear: both; }
    .vd-popup .popup-footer a {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      min-width: 100px;
      margin: 0;
      padding: 10px 21px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-property: color, background, border, opacity, -webkit-transform;
      transition-property: color, background, border, opacity, -webkit-transform;
      transition-property: color, background, border, opacity, transform;
      transition-property: color, background, border, opacity, transform, -webkit-transform;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      word-wrap: break-word;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      outline: 0;
      background: 0 0;
      font-size: 14px;
      font-weight: 400; }
      .vd-popup .popup-footer a.vd-btn.apply {
        background: #7dbc44;
        color: white; }
        .vd-popup .popup-footer a.vd-btn.apply:hover {
          background: #5f982a; }
      .vd-popup .popup-footer a.vd-btn.undo {
        background: #65a3be;
        color: white; }
        .vd-popup .popup-footer a.vd-btn.undo:hover {
          background: #4986a1; }
      .vd-popup .popup-footer a.vd-btn.return {
        background: #2498ca;
        color: white; }
        .vd-popup .popup-footer a.vd-btn.return:hover {
          background: #177eab; }
      .vd-popup .popup-footer a.vd-btn.cancel {
        background: #d94d3b;
        color: white; }
        .vd-popup .popup-footer a.vd-btn.cancel:hover {
          background: #b03c2d; }
      .vd-popup .popup-footer a.save {
        color: #fff;
        background-color: #308cd6; }
        .vd-popup .popup-footer a.save.saved {
          color: #fff;
          background-color: #7bcd2d; }
          .vd-popup .popup-footer a.save.saved:hover {
            background-color: #78C82C; }
        .vd-popup .popup-footer a.save:hover {
          background-color: #56a6e6; }
        .vd-popup .popup-footer a.save > i {
          margin-right: 5px; }
      .vd-popup .popup-footer a.cancel {
        color: #fff;
        background-color: #bcbcbc; }
        .vd-popup .popup-footer a.cancel:hover {
          background-color: #afafaf; }
  .vd-popup > div.body {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px; }

.vd-popup-overlay {
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.5); }

span.module_name {
  width: 100%;
  height: 30px;
  margin-left: 5px;
  padding: 5px;
  color: white;
  border-radius: 4px;
  background: #16F; }

.ui-resizable-handle {
  position: absolute;
  display: block;
  font-size: 0.1px;
  -ms-touch-action: none;
  touch-action: none; }

.ui-resizable-autohide .ui-resizable-handle,
.ui-resizable-disabled .ui-resizable-handle {
  display: none; }

.ui-resizable-n {
  top: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: n-resize; }

.ui-resizable-s {
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: s-resize; }

.ui-resizable-e {
  top: 0;
  right: -5px;
  width: 7px;
  height: 100%;
  cursor: e-resize; }

.ui-resizable-w {
  top: 0;
  left: -5px;
  width: 7px;
  height: 100%;
  cursor: w-resize; }

.ui-resizable-se {
  right: 1px;
  bottom: 1px;
  width: 12px;
  height: 12px;
  cursor: se-resize; }

.ui-resizable-sw {
  bottom: -5px;
  left: -5px;
  width: 9px;
  height: 9px;
  cursor: sw-resize; }

.ui-resizable-nw {
  top: -5px;
  left: -5px;
  width: 9px;
  height: 9px;
  cursor: nw-resize; }

.ui-resizable-ne {
  top: -5px;
  right: -5px;
  width: 9px;
  height: 9px;
  cursor: ne-resize; }

.vd-helper {
  display: flex;
  margin: 15px;
  padding: 20px;
  text-align: center;
  border: 1px dashed rgba(125, 125, 125, 0.4);
  font-size: 14px;
  align-items: center;
  justify-content: center; }
  .vd-helper > .vd-button:hover {
    opacity: 0.7; }
  .vd-helper > .vd-button > i {
    display: inline-block;
    display: flex;
    width: 39px;
    height: 38px;
    cursor: pointer;
    -webkit-transition-property: none;
    transition-property: none;
    border: none !important;
    border-radius: 6px;
    background-color: #C9C9C9;
    background-repeat: no-repeat;
    background-position: top center;
    justify-content: center;
    align-items: center; }
    .vd-helper > .vd-button > i:before {
      color: #fff; }

.layout-edit {
  margin: 0px; }
  .layout-edit > div.layout {
    padding-top: 10px;
    padding-bottom: 10px; }
    .layout-edit > div.layout.active > a > span > span {
      background: #59a1da; }
    .layout-edit > div.layout:hover > a > span > span {
      background: #59a1da; }
    .layout-edit > div.layout > a:hover {
      cursor: pointer; }
    .layout-edit > div.layout > a > span {
      display: block;
      width: 176px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      padding: 2px;
      float: left; }
      .layout-edit > div.layout > a > span > span {
        background: #83BDEB;
        display: block;
        width: 100%;
        height: 100%; }
      .layout-edit > div.layout > a > span.layout-12 {
        width: 100%; }
      .layout-edit > div.layout > a > span.layout-11 {
        width: 91.66666%; }
      .layout-edit > div.layout > a > span.layout-10 {
        width: 83.33333%; }
      .layout-edit > div.layout > a > span.layout-9 {
        width: 75%; }
      .layout-edit > div.layout > a > span.layout-8 {
        width: 66.66666%; }
      .layout-edit > div.layout > a > span.layout-7 {
        width: 58.33333%; }
      .layout-edit > div.layout > a > span.layout-6 {
        width: 50%; }
      .layout-edit > div.layout > a > span.layout-5 {
        width: 41.66666%; }
      .layout-edit > div.layout > a > span.layout-4 {
        width: 33.33333%; }
      .layout-edit > div.layout > a > span.layout-3 {
        width: 25%; }
      .layout-edit > div.layout > a > span.layout-2 {
        width: 16.66666%; }
      .layout-edit > div.layout > a > span.layout-1 {
        width: 8.333333%; }

.vd-btn-drag {
  background: url(../../image/d_visual_designer/drag-n-drop.svg) no-repeat center; }
  .vd-btn-drag.gray {
    background: url(../../image/d_visual_designer/drag-n-drop-gray.svg) no-repeat center; }

.vd-btn-edit {
  background: url(../../image/d_visual_designer/settings.svg) no-repeat center; }
  .vd-btn-edit.gray {
    background: url(../../image/d_visual_designer/settings-gray.svg) no-repeat center; }

.vd-btn-copy {
  background: url(../../image/d_visual_designer/copy.svg) no-repeat center; }
  .vd-btn-copy.gray {
    background: url(../../image/d_visual_designer/copy-gray.svg) no-repeat center; }

.vd-btn-layout {
  background: url(../../image/d_visual_designer/layout.svg) no-repeat center; }
  .vd-btn-layout.gray {
    background: url(../../image/d_visual_designer/layout-gray.svg) no-repeat center; }

.vd-btn-add-child {
  background: url(../../image/d_visual_designer/add.svg) no-repeat center; }
  .vd-btn-add-child.gray {
    background: url(../../image/d_visual_designer/add-gray.svg) no-repeat center; }

.vd-btn-add {
  background: url(../../image/d_visual_designer/add.svg) no-repeat center; }
  .vd-btn-add.gray {
    background: url(../../image/d_visual_designer/add-gray.svg) no-repeat center; }

.vd-btn-remove {
  background: url(../../image/d_visual_designer/delete.svg) no-repeat center; }
  .vd-btn-remove.gray {
    background: url(../../image/d_visual_designer/delete-gray.svg) no-repeat center; }

.vd-welcome {
  margin: 14px;
  padding: 20px;
  text-align: center;
  font-size: 14px; }
  .vd-welcome .vd-welcome-brand {
    margin-top: 20px;
    margin-bottom: 30px; }
  .vd-welcome .vd-welcome-header {
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #656565;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.4em; }
  .vd-welcome .vd-button-group {
    margin-top: 20px;
    margin-bottom: 20px; }
    .vd-welcome .vd-button-group .vd-button {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      margin: 10px 10px 0;
      padding: 14px 14px 14px 35px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      transition-property: color, background, border, opacity, transform;
      text-align: center;
      vertical-align: middle;
      text-decoration: none;
      text-transform: capitalize;
      word-wrap: break-word;
      color: #fff;
      border-radius: 3px;
      outline: 0;
      background-color: #00aeee;
      font-size: 14px;
      font-weight: 400; }
      .vd-welcome .vd-button-group .vd-button.vd-add-block {
        background-image: url("../../image/d_visual_designer/add-block.svg");
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 15px; }
      .vd-welcome .vd-button-group .vd-button.vd-add-text-block {
        background-color: #73C02A; }
        .vd-welcome .vd-button-group .vd-button.vd-add-text-block > i {
          position: absolute;
          left: 15px;
          top: calc(50% - 7.5px); }
      .vd-welcome .vd-button-group .vd-button.vd-add-template {
        background-color: #FEB710;
        background-image: url("../../image/d_visual_designer/template-add.svg");
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 15px; }

.helper-sortable {
  position: absolute;
  cursor: pointer !important;
  z-index: 1006;
  display: flex;
  box-sizing: border-box;
  width: auto !important;
  height: auto !important;
  padding: 4px 15px 4px 30px;
  vertical-align: middle;
  color: #FFF;
  border: 1px solid #afd23e;
  border-radius: 3px;
  background-color: #afd23e;
  font-size: 11px;
  align-items: center;
  justify-content: center; }
  .helper-sortable.main {
    border: 1px solid #308cd6;
    background-color: #308cd6; }
  .helper-sortable.inner {
    border: 1px solid #f4c000;
    background-color: #f4c000; }
  .helper-sortable.child {
    border: 1px solid #72b338;
    background-color: #72b338; }
  .helper-sortable > img {
    display: inline-block;
    margin: 0 8px 0 0;
    vertical-align: middle;
    border-radius: 2px; }

/*# sourceMappingURL=d_visual_designer.css.map */
