@import "core/loader.scss";
@import 'core/popup.scss';
html,body{
    overflow: hidden;

    min-height: 100%;
}
span.notify{
    position: absolute;
    z-index: 123;
    top: 60px;
    left: 0;

    display: none;

    width: 100%;
    height: 40px;
    padding: 5px;

    text-align: center;

    color: #8E9D84;
    background: #D8EDC7;

    line-height: 30px;
    &.error{
        background: #f2dede;
        color:#333;
    }
}
.vd-navbar-container{
    position:relative;
    height:60px;
    background-color:#1F7DC7;
    box-shadow: 0.707px 0.707px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
}
[id=visual-designer-preloader]{
    background: #000;
    bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
[id=visual-designer-preloader-icon]{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    z-index: 2;
}

.vd-navbar{
    &.left-bar{
        float:left;
        
        border-radius: 3px;
        > a{
            margin-right:1px;
            &:first-child{
                background-color:#F5C000;
                &:hover{
                    background-color:#f7cd32;
                }
            }    
        }
        .vd-dropdown{
            > a{
                border-top-right-radius:3px;
                
            }
            &:not(:hover) > a{
                border-bottom-right-radius:3px;
            }
            > .vd-dropdown-list{
                > li:last-child{
                    > a{
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }
            
        }
        .vd-btn{
            display: block;
            cursor: pointer;
            width:60px;
            height:60px;
            background-color: #308cd6;
            
            float:left;
            
            &:hover{
                background-color: #56a6e6;
            }
        }
    }
    
    &.right-bar{
        float:right;
        box-shadow: 0.707px 0.707px 3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        background-color: #1F7DC7;
        > .vd-switcher {
            display: block;
            float:left;
            position: relative;
            line-height: 60px;
            font-size: 13px;
            font-weight: bold;
            padding: 0 40px;
            text-align: center;
            cursor: pointer;
            background-color: #308cd6;
            margin-right: 1px;
            color: #fff;
            min-width: 50px;
            text-transform: capitalize;
            &:hover {
                background-color: #56a6e6;
                >.vd-switcher-content{
                    display: block;
                }
            }
            &>.vd-switcher-content{
                position: absolute;
                display: none;
                left: 0;
                // right: 0;
                top: 61px;
                background-color: #308cd6;
                > .vd-switcher-element {
                    white-space: nowrap;
                    padding: 0 40px;
                    &.active {
                        background-color: #56a6e6;
                    }
                    &:hover {
                        background-color: #56a6e6;
                    }
                }
                &:hover {
                    display: block;
                }
                &.active {
                    display: block;
                }
            }
        }
        > a{
            display: block;
            float:left;
            height: 60px;
            cursor: pointer;
            color:#fff;
            line-height: 50px;
            padding: 5px 13px;
            font-size: 13px;
            font-weight: bold;
            &#button-backend{
                background-color: #308cd6;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                &:hover{
                    background-color: #56a6e6;
                }
            }
            &#button-save{
                background-color: #72b338;
                &:hover{
                    background-color: #84c24d;
                }
            }
            &#button-close{
                background-color: #b33838;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                &:hover{
                    background-color: #c34a4a;
                }
            }
        }
    }
    .vd-dropdown{
        position: relative;
        float: left;
        .vd-dropdown-list{
            position: absolute;
            top: 40px;
            left: 0;
            padding: 0;
            list-style: none;
            visibility: hidden;
            transition: 1ms;
            
        }
    }
    .vd-btn-add-block{
        background: url('../../image/d_visual_designer/add-block.svg') no-repeat center;
    }
    .vd-btn-add-template{
        background: url('../../image/d_visual_designer/template-add.svg') no-repeat center;
    }
    .vd-btn-mobile{
        background: url('../../image/d_visual_designer/phone.svg') no-repeat center;
    }
    .vd-btn-tablet{
        background: url('../../image/d_visual_designer/tablet.svg') no-repeat center;
    }
    .vd-btn-desktop{
        background: url('../../image/d_visual_designer/desktop.svg') no-repeat center;
    }
    .vd-btn-save-template{
        background: url('../../image/d_visual_designer/template-save.svg') no-repeat center;
    }
}

iframe{
    display: block !important;

    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;

}

.alertify-notifier .ajs-message.ajs-success {
    font-size: 17px;
}

.alertify-notifier .ajs-message.ajs-error {
    font-size: 17px;
}

.alertify-notifier .ajs-message.ajs-warning {
    font-size: 17px;
}