var y = 0;

var font_select = $('{{selector}}');

font_select.select2({
    data: $.fontset,
    placeholder: "Select Font Family",
    triggerChange: true,
    allowClear: true,
    theme: "bootstrap",
    minimumResultsForSearch: Infinity,
    templateResult: function (result) {
        var state = $('<div style="background-position:-10px -' + y + 'px !important;" class="li_' + result.itemId + '">' + result.text + '</div>');
        y += 29;
        return state;
    }
});
font_select.val("{{value}}").trigger('change');

font_select.on("select2:open", function () {
    y = 0;
});
font_select.on("select2:close", function () {
    y = 0;
});