@font-face {
  font-family: octicons;
  src: url(fonts/octicons.eot?#iefix) format("embedded-opentype"), url(fonts/octicons.woff) format("woff"), url(fonts/octicons.ttf) format("truetype"), url(fonts/octicons.svg#octicons) format("svg");
  font-weight: 400;
  font-style: normal; }
.vd .mega-octicon, .vd .octicon, .block-container .mega-octicon, .block-container .octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.vd .mega-octicon, .block-container .mega-octicon {
  font-size: 32px; }
.vd .octicon-alert:before, .block-container .octicon-alert:before {
  content: '\f02d'; }
.vd .octicon-alignment-align:before, .block-container .octicon-alignment-align:before {
  content: '\f08a'; }
.vd .octicon-alignment-aligned-to:before, .block-container .octicon-alignment-aligned-to:before {
  content: '\f08e'; }
.vd .octicon-alignment-unalign:before, .block-container .octicon-alignment-unalign:before {
  content: '\f08b'; }
.vd .octicon-arrow-down:before, .block-container .octicon-arrow-down:before {
  content: '\f03f'; }
.vd .octicon-arrow-left:before, .block-container .octicon-arrow-left:before {
  content: '\f040'; }
.vd .octicon-arrow-right:before, .block-container .octicon-arrow-right:before {
  content: '\f03e'; }
.vd .octicon-arrow-small-down:before, .block-container .octicon-arrow-small-down:before {
  content: '\f0a0'; }
.vd .octicon-arrow-small-left:before, .block-container .octicon-arrow-small-left:before {
  content: '\f0a1'; }
.vd .octicon-arrow-small-right:before, .block-container .octicon-arrow-small-right:before {
  content: '\f071'; }
.vd .octicon-arrow-small-up:before, .block-container .octicon-arrow-small-up:before {
  content: '\f09f'; }
.vd .octicon-arrow-up:before, .block-container .octicon-arrow-up:before {
  content: '\f03d'; }
.vd .octicon-beer:before, .block-container .octicon-beer:before {
  content: '\f069'; }
.vd .octicon-book:before, .block-container .octicon-book:before {
  content: '\f007'; }
.vd .octicon-bookmark:before, .block-container .octicon-bookmark:before {
  content: '\f07b'; }
.vd .octicon-briefcase:before, .block-container .octicon-briefcase:before {
  content: '\f0d3'; }
.vd .octicon-broadcast:before, .block-container .octicon-broadcast:before {
  content: '\f048'; }
.vd .octicon-browser:before, .block-container .octicon-browser:before {
  content: '\f0c5'; }
.vd .octicon-bug:before, .block-container .octicon-bug:before {
  content: '\f091'; }
.vd .octicon-calendar:before, .block-container .octicon-calendar:before {
  content: '\f068'; }
.vd .octicon-check:before, .block-container .octicon-check:before {
  content: '\f03a'; }
.vd .octicon-checklist:before, .block-container .octicon-checklist:before {
  content: '\f076'; }
.vd .octicon-chevron-down:before, .block-container .octicon-chevron-down:before {
  content: '\f0a3'; }
.vd .octicon-chevron-left:before, .block-container .octicon-chevron-left:before {
  content: '\f0a4'; }
.vd .octicon-chevron-right:before, .block-container .octicon-chevron-right:before {
  content: '\f078'; }
.vd .octicon-chevron-up:before, .block-container .octicon-chevron-up:before {
  content: '\f0a2'; }
.vd .octicon-circle-slash:before, .block-container .octicon-circle-slash:before {
  content: '\f084'; }
.vd .octicon-circuit-board:before, .block-container .octicon-circuit-board:before {
  content: '\f0d6'; }
.vd .octicon-clippy:before, .block-container .octicon-clippy:before {
  content: '\f035'; }
.vd .octicon-clock:before, .block-container .octicon-clock:before {
  content: '\f046'; }
.vd .octicon-cloud-download:before, .block-container .octicon-cloud-download:before {
  content: '\f00b'; }
.vd .octicon-cloud-upload:before, .block-container .octicon-cloud-upload:before {
  content: '\f00c'; }
.vd .octicon-code:before, .block-container .octicon-code:before {
  content: '\f05f'; }
.vd .octicon-color-mode:before, .block-container .octicon-color-mode:before {
  content: '\f065'; }
.vd .octicon-comment-add:before, .vd .octicon-comment:before, .block-container .octicon-comment-add:before, .block-container .octicon-comment:before {
  content: '\f02b'; }
.vd .octicon-comment-discussion:before, .block-container .octicon-comment-discussion:before {
  content: '\f04f'; }
.vd .octicon-credit-card:before, .block-container .octicon-credit-card:before {
  content: '\f045'; }
.vd .octicon-dash:before, .block-container .octicon-dash:before {
  content: '\f0ca'; }
.vd .octicon-dashboard:before, .block-container .octicon-dashboard:before {
  content: '\f07d'; }
.vd .octicon-database:before, .block-container .octicon-database:before {
  content: '\f096'; }
.vd .octicon-device-camera:before, .block-container .octicon-device-camera:before {
  content: '\f056'; }
.vd .octicon-device-camera-video:before, .block-container .octicon-device-camera-video:before {
  content: '\f057'; }
.vd .octicon-device-desktop:before, .block-container .octicon-device-desktop:before {
  content: '\f27c'; }
.vd .octicon-device-mobile:before, .block-container .octicon-device-mobile:before {
  content: '\f038'; }
.vd .octicon-diff:before, .block-container .octicon-diff:before {
  content: '\f04d'; }
.vd .octicon-diff-added:before, .block-container .octicon-diff-added:before {
  content: '\f06b'; }
.vd .octicon-diff-ignored:before, .block-container .octicon-diff-ignored:before {
  content: '\f099'; }
.vd .octicon-diff-modified:before, .block-container .octicon-diff-modified:before {
  content: '\f06d'; }
.vd .octicon-diff-removed:before, .block-container .octicon-diff-removed:before {
  content: '\f06c'; }
.vd .octicon-diff-renamed:before, .block-container .octicon-diff-renamed:before {
  content: '\f06e'; }
.vd .octicon-ellipsis:before, .block-container .octicon-ellipsis:before {
  content: '\f09a'; }
.vd .octicon-eye-unwatch:before, .vd .octicon-eye-watch:before, .vd .octicon-eye:before, .block-container .octicon-eye-unwatch:before, .block-container .octicon-eye-watch:before, .block-container .octicon-eye:before {
  content: '\f04e'; }
.vd .octicon-file-binary:before, .block-container .octicon-file-binary:before {
  content: '\f094'; }
.vd .octicon-file-code:before, .block-container .octicon-file-code:before {
  content: '\f010'; }
.vd .octicon-file-directory:before, .block-container .octicon-file-directory:before {
  content: '\f016'; }
.vd .octicon-file-media:before, .block-container .octicon-file-media:before {
  content: '\f012'; }
.vd .octicon-file-pdf:before, .block-container .octicon-file-pdf:before {
  content: '\f014'; }
.vd .octicon-file-submodule:before, .block-container .octicon-file-submodule:before {
  content: '\f017'; }
.vd .octicon-file-symlink-directory:before, .block-container .octicon-file-symlink-directory:before {
  content: '\f0b1'; }
.vd .octicon-file-symlink-file:before, .block-container .octicon-file-symlink-file:before {
  content: '\f0b0'; }
.vd .octicon-file-text:before, .block-container .octicon-file-text:before {
  content: '\f011'; }
.vd .octicon-file-zip:before, .block-container .octicon-file-zip:before {
  content: '\f013'; }
.vd .octicon-flame:before, .block-container .octicon-flame:before {
  content: '\f0d2'; }
.vd .octicon-fold:before, .block-container .octicon-fold:before {
  content: '\f0cc'; }
.vd .octicon-gear:before, .block-container .octicon-gear:before {
  content: '\f02f'; }
.vd .octicon-gift:before, .block-container .octicon-gift:before {
  content: '\f042'; }
.vd .octicon-gist:before, .block-container .octicon-gist:before {
  content: '\f00e'; }
.vd .octicon-gist-secret:before, .block-container .octicon-gist-secret:before {
  content: '\f08c'; }
.vd .octicon-git-branch-create:before, .vd .octicon-git-branch-delete:before, .vd .octicon-git-branch:before, .block-container .octicon-git-branch-create:before, .block-container .octicon-git-branch-delete:before, .block-container .octicon-git-branch:before {
  content: '\f020'; }
.vd .octicon-git-commit:before, .block-container .octicon-git-commit:before {
  content: '\f01f'; }
.vd .octicon-git-compare:before, .block-container .octicon-git-compare:before {
  content: '\f0ac'; }
.vd .octicon-git-merge:before, .block-container .octicon-git-merge:before {
  content: '\f023'; }
.vd .octicon-git-pull-request-abandoned:before, .vd .octicon-git-pull-request:before, .block-container .octicon-git-pull-request-abandoned:before, .block-container .octicon-git-pull-request:before {
  content: '\f009'; }
.vd .octicon-globe:before, .block-container .octicon-globe:before {
  content: '\f0b6'; }
.vd .octicon-graph:before, .block-container .octicon-graph:before {
  content: '\f043'; }
.vd .octicon-heart:before, .block-container .octicon-heart:before {
  content: '\2665'; }
.vd .octicon-history:before, .block-container .octicon-history:before {
  content: '\f07e'; }
.vd .octicon-home:before, .block-container .octicon-home:before {
  content: '\f08d'; }
.vd .octicon-horizontal-rule:before, .block-container .octicon-horizontal-rule:before {
  content: '\f070'; }
.vd .octicon-hourglass:before, .block-container .octicon-hourglass:before {
  content: '\f09e'; }
.vd .octicon-hubot:before, .block-container .octicon-hubot:before {
  content: '\f09d'; }
.vd .octicon-inbox:before, .block-container .octicon-inbox:before {
  content: '\f0cf'; }
.vd .octicon-info:before, .block-container .octicon-info:before {
  content: '\f059'; }
.vd .octicon-issue-closed:before, .block-container .octicon-issue-closed:before {
  content: '\f028'; }
.vd .octicon-issue-opened:before, .block-container .octicon-issue-opened:before {
  content: '\f026'; }
.vd .octicon-issue-reopened:before, .block-container .octicon-issue-reopened:before {
  content: '\f027'; }
.vd .octicon-jersey:before, .block-container .octicon-jersey:before {
  content: '\f019'; }
.vd .octicon-jump-down:before, .block-container .octicon-jump-down:before {
  content: '\f072'; }
.vd .octicon-jump-left:before, .block-container .octicon-jump-left:before {
  content: '\f0a5'; }
.vd .octicon-jump-right:before, .block-container .octicon-jump-right:before {
  content: '\f0a6'; }
.vd .octicon-jump-up:before, .block-container .octicon-jump-up:before {
  content: '\f073'; }
.vd .octicon-key:before, .block-container .octicon-key:before {
  content: '\f049'; }
.vd .octicon-keyboard:before, .block-container .octicon-keyboard:before {
  content: '\f00d'; }
.vd .octicon-law:before, .block-container .octicon-law:before {
  content: '\f0d8'; }
.vd .octicon-light-bulb:before, .block-container .octicon-light-bulb:before {
  content: '\f000'; }
.vd .octicon-link:before, .block-container .octicon-link:before {
  content: '\f05c'; }
.vd .octicon-link-external:before, .block-container .octicon-link-external:before {
  content: '\f07f'; }
.vd .octicon-list-ordered:before, .block-container .octicon-list-ordered:before {
  content: '\f062'; }
.vd .octicon-list-unordered:before, .block-container .octicon-list-unordered:before {
  content: '\f061'; }
.vd .octicon-location:before, .block-container .octicon-location:before {
  content: '\f060'; }
.vd .octicon-gist-private:before, .vd .octicon-git-fork-private:before, .vd .octicon-lock:before, .vd .octicon-mirror-private:before, .block-container .octicon-gist-private:before, .block-container .octicon-git-fork-private:before, .block-container .octicon-lock:before, .block-container .octicon-mirror-private:before {
  content: '\f06a'; }
.vd .octicon-logo-github:before, .block-container .octicon-logo-github:before {
  content: '\f092'; }
.vd .octicon-mail:before, .block-container .octicon-mail:before {
  content: '\f03b'; }
.vd .octicon-mail-read:before, .block-container .octicon-mail-read:before {
  content: '\f03c'; }
.vd .octicon-mail-reply:before, .block-container .octicon-mail-reply:before {
  content: '\f051'; }
.vd .octicon-mark-github:before, .block-container .octicon-mark-github:before {
  content: '\f00a'; }
.vd .octicon-markdown:before, .block-container .octicon-markdown:before {
  content: '\f0c9'; }
.vd .octicon-megaphone:before, .block-container .octicon-megaphone:before {
  content: '\f077'; }
.vd .octicon-mention:before, .block-container .octicon-mention:before {
  content: '\f0be'; }
.vd .octicon-microscope:before, .block-container .octicon-microscope:before {
  content: '\f089'; }
.vd .octicon-milestone:before, .block-container .octicon-milestone:before {
  content: '\f075'; }
.vd .octicon-mirror-public:before, .vd .octicon-mirror:before, .block-container .octicon-mirror-public:before, .block-container .octicon-mirror:before {
  content: '\f024'; }
.vd .octicon-mortar-board:before, .block-container .octicon-mortar-board:before {
  content: '\f0d7'; }
.vd .octicon-move-down:before, .block-container .octicon-move-down:before {
  content: '\f0a8'; }
.vd .octicon-move-left:before, .block-container .octicon-move-left:before {
  content: '\f074'; }
.vd .octicon-move-right:before, .block-container .octicon-move-right:before {
  content: '\f0a9'; }
.vd .octicon-move-up:before, .block-container .octicon-move-up:before {
  content: '\f0a7'; }
.vd .octicon-mute:before, .block-container .octicon-mute:before {
  content: '\f080'; }
.vd .octicon-no-newline:before, .block-container .octicon-no-newline:before {
  content: '\f09c'; }
.vd .octicon-octoface:before, .block-container .octicon-octoface:before {
  content: '\f008'; }
.vd .octicon-organization:before, .block-container .octicon-organization:before {
  content: '\f037'; }
.vd .octicon-package:before, .block-container .octicon-package:before {
  content: '\f0c4'; }
.vd .octicon-paintcan:before, .block-container .octicon-paintcan:before {
  content: '\f0d1'; }
.vd .octicon-pencil:before, .block-container .octicon-pencil:before {
  content: '\f058'; }
.vd .octicon-person-add:before, .vd .octicon-person-follow:before, .vd .octicon-person:before, .block-container .octicon-person-add:before, .block-container .octicon-person-follow:before, .block-container .octicon-person:before {
  content: '\f018'; }
.vd .octicon-pin:before, .block-container .octicon-pin:before {
  content: '\f041'; }
.vd .octicon-playback-fast-forward:before, .block-container .octicon-playback-fast-forward:before {
  content: '\f0bd'; }
.vd .octicon-playback-pause:before, .block-container .octicon-playback-pause:before {
  content: '\f0bb'; }
.vd .octicon-playback-play:before, .block-container .octicon-playback-play:before {
  content: '\f0bf'; }
.vd .octicon-playback-rewind:before, .block-container .octicon-playback-rewind:before {
  content: '\f0bc'; }
.vd .octicon-plug:before, .block-container .octicon-plug:before {
  content: '\f0d4'; }
.vd .octicon-file-add:before, .vd .octicon-file-directory-create:before, .vd .octicon-gist-new:before, .vd .octicon-plus:before, .vd .octicon-repo-create:before, .block-container .octicon-file-add:before, .block-container .octicon-file-directory-create:before, .block-container .octicon-gist-new:before, .block-container .octicon-plus:before, .block-container .octicon-repo-create:before {
  content: '\f05d'; }
.vd .octicon-podium:before, .block-container .octicon-podium:before {
  content: '\f0af'; }
.vd .octicon-primitive-dot:before, .block-container .octicon-primitive-dot:before {
  content: '\f052'; }
.vd .octicon-primitive-square:before, .block-container .octicon-primitive-square:before {
  content: '\f053'; }
.vd .octicon-pulse:before, .block-container .octicon-pulse:before {
  content: '\f085'; }
.vd .octicon-puzzle:before, .block-container .octicon-puzzle:before {
  content: '\f0c0'; }
.vd .octicon-question:before, .block-container .octicon-question:before {
  content: '\f02c'; }
.vd .octicon-quote:before, .block-container .octicon-quote:before {
  content: '\f063'; }
.vd .octicon-radio-tower:before, .block-container .octicon-radio-tower:before {
  content: '\f030'; }
.vd .octicon-repo-delete:before, .vd .octicon-repo:before, .block-container .octicon-repo-delete:before, .block-container .octicon-repo:before {
  content: '\f001'; }
.vd .octicon-repo-clone:before, .block-container .octicon-repo-clone:before {
  content: '\f04c'; }
.vd .octicon-repo-force-push:before, .block-container .octicon-repo-force-push:before {
  content: '\f04a'; }
.vd .octicon-gist-fork:before, .vd .octicon-repo-forked:before, .block-container .octicon-gist-fork:before, .block-container .octicon-repo-forked:before {
  content: '\f002'; }
.vd .octicon-repo-pull:before, .block-container .octicon-repo-pull:before {
  content: '\f006'; }
.vd .octicon-repo-push:before, .block-container .octicon-repo-push:before {
  content: '\f005'; }
.vd .octicon-rocket:before, .block-container .octicon-rocket:before {
  content: '\f033'; }
.vd .octicon-rss:before, .block-container .octicon-rss:before {
  content: '\f034'; }
.vd .octicon-ruby:before, .block-container .octicon-ruby:before {
  content: '\f047'; }
.vd .octicon-screen-full:before, .block-container .octicon-screen-full:before {
  content: '\f066'; }
.vd .octicon-screen-normal:before, .block-container .octicon-screen-normal:before {
  content: '\f067'; }
.vd .octicon-search-save:before, .vd .octicon-search:before, .block-container .octicon-search-save:before, .block-container .octicon-search:before {
  content: '\f02e'; }
.vd .octicon-server:before, .block-container .octicon-server:before {
  content: '\f097'; }
.vd .octicon-settings:before, .block-container .octicon-settings:before {
  content: '\f07c'; }
.vd .octicon-log-in:before, .vd .octicon-sign-in:before, .block-container .octicon-log-in:before, .block-container .octicon-sign-in:before {
  content: '\f036'; }
.vd .octicon-log-out:before, .vd .octicon-sign-out:before, .block-container .octicon-log-out:before, .block-container .octicon-sign-out:before {
  content: '\f032'; }
.vd .octicon-split:before, .block-container .octicon-split:before {
  content: '\f0c6'; }
.vd .octicon-squirrel:before, .block-container .octicon-squirrel:before {
  content: '\f0b2'; }
.vd .octicon-star-add:before, .vd .octicon-star-delete:before, .vd .octicon-star:before, .block-container .octicon-star-add:before, .block-container .octicon-star-delete:before, .block-container .octicon-star:before {
  content: '\f02a'; }
.vd .octicon-steps:before, .block-container .octicon-steps:before {
  content: '\f0c7'; }
.vd .octicon-stop:before, .block-container .octicon-stop:before {
  content: '\f08f'; }
.vd .octicon-repo-sync:before, .vd .octicon-sync:before, .block-container .octicon-repo-sync:before, .block-container .octicon-sync:before {
  content: '\f087'; }
.vd .octicon-tag-add:before, .vd .octicon-tag-remove:before, .vd .octicon-tag:before, .block-container .octicon-tag-add:before, .block-container .octicon-tag-remove:before, .block-container .octicon-tag:before {
  content: '\f015'; }
.vd .octicon-telescope:before, .block-container .octicon-telescope:before {
  content: '\f088'; }
.vd .octicon-terminal:before, .block-container .octicon-terminal:before {
  content: '\f0c8'; }
.vd .octicon-three-bars:before, .block-container .octicon-three-bars:before {
  content: '\f05e'; }
.vd .octicon-tools:before, .block-container .octicon-tools:before {
  content: '\f031'; }
.vd .octicon-trashcan:before, .block-container .octicon-trashcan:before {
  content: '\f0d0'; }
.vd .octicon-triangle-down:before, .block-container .octicon-triangle-down:before {
  content: '\f05b'; }
.vd .octicon-triangle-left:before, .block-container .octicon-triangle-left:before {
  content: '\f044'; }
.vd .octicon-triangle-right:before, .block-container .octicon-triangle-right:before {
  content: '\f05a'; }
.vd .octicon-triangle-up:before, .block-container .octicon-triangle-up:before {
  content: '\f0aa'; }
.vd .octicon-unfold:before, .block-container .octicon-unfold:before {
  content: '\f039'; }
.vd .octicon-unmute:before, .block-container .octicon-unmute:before {
  content: '\f0ba'; }
.vd .octicon-versions:before, .block-container .octicon-versions:before {
  content: '\f064'; }
.vd .octicon-remove-close:before, .vd .octicon-x:before, .block-container .octicon-remove-close:before, .block-container .octicon-x:before {
  content: '\f081'; }
.vd .octicon-zap:before, .block-container .octicon-zap:before {
  content: '\26A1'; }

/*# sourceMappingURL=octicons.css.map */
