<div class="form-group">
    <label class="control-label col-sm-2">{{ text_label }}</label>
    <div class="col-sm-10">
        <div class="d_visual_designer_backend" data-name="{{ name }}" data-content="{{ content }}"></div>
    </div>
</div>