<div class="vd vd-popup add_block">
    <div class="popup-header">
        <h2 class="title">{{text_add_block}}</h2>
        <div class="search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" name="search" placeholder="{{text_search}}" value=""/>
        </div>
        <a class="close"></a>
    </div>
    <% if(_.size(categories) > 0) { %>
    <div class="popup-tabs">
        <ul class="vd-nav">
            <li class="active"><a href="#tab-get-template" data-toggle="tab" data-category="">{{tab_all_blocks}}</a></li>
            <% _.each(categories, function(value) { %> 
            <li><a id="new-block-tab"  data-toggle="tab" data-category="<%= value %>"><%= value %></a></li>
            <% } ); %>
        </ul>
    </div>
    <% } %>
    <div class="popup-content">
        <% if(notify) { %>
        <div class="notify alert alert-warning">
            {{text_complete_version}}
        </div>
        <% } %>
        <div class="row popup-new-block">
            <% _.each(blocks, function(block) { %> 
            <div class="col-md-3 col-sm-6 col-xs-12 element">
                <div class="block">
                    <a id="add_block" name="type" data-title="<%= block.title %>" data-type="<%= block.type %>" data-category="<%= block.category %>">
                        <span><img src="<%= block.image %>" class="image"></span>
                        <%= block.title %>
                        <i class="description">
                            <%= block.description %>
                        </i>
                    </a>
                </div>
            </div>
            <% } ); %>
        </div>
        <input type="hidden" name="target" value='<%= target %>'/>
        <input type="hidden" name="designer_id" value='<%= designer_id %>'/>
        <input type="hidden" name="level" value='<%= level %>'/>
    </div>
</div>