.vd-icon-picker-wrapper {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: scroll;
    border-right: 1px solid #d2d2d2;
    > .vd-icon-element{
        flex: 0 0 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #d2d2d2;
        border-left: 1px solid #d2d2d2;
        &.active {
            background: rgba(65, 175, 255, 0.66);
        }
        &:hover:not(.active) {
            background: #e2e2e2;
        }
        cursor: pointer;
        > span{
            font-size: 20px;
            color: #333;
        }
    }
}
.vd-icon-group {
    display: flex;
    flex-flow: row;
    > .vd-icon-group-icon {
        display: flex;
        align-items: center;
        position: relative;
        width: 40px;
        i {
            position: absolute;
            top: 8px;
            left: 15px;
            cursor: pointer;
            font-size: 18px;
        }
    }
    > .vd-icon-group-content {
        flex: 1;
    }
}
.range{
    position:relative;
    height: 35px;
    display: flex;
    align-items: center;
}
> label.vd-checkbox{
    font-size: 13px;
    color: #32373c;
    line-height: 18.2px;
    cursor:pointer;
    margin:0;
    display: inline;
    font-weight: normal;
    > input[type=checkbox]{
        font-size: 14px;
        line-height: 0;

        position: relative;
        display: inline-block;
        float: none;
        clear: none;

        width: 25px;
        min-width: 16px;
        height: 25px;
        margin: 0 10px 10px 0;
        padding: 0!important;

        cursor: pointer;
        -webkit-transition: .05s border-color ease-in-out;
        transition: .05s border-color ease-in-out;
        text-align: center;
        vertical-align: middle;

        color: #32373c;
        border: none;
        border-radius: 4px;
        outline: 0;
        background: #f1f5f9;
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);

        -webkit-appearance: none;

        &:focus{
            box-shadow: none !important;
            outline: none !important;
            background: #E0E5EA;
            -webkit-transition: background .5s;
            transition: background .5s;
        }
        &:checked{
            &:after{
                display: none;
            }
            &:before{
                position: absolute;
                top: 6px;
                left: 8px;
                width: 11px;
                height: 8px;
                content: '';
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                border: 2px solid #00c3aa;
                border-top: none;
                border-right: none;
                background: rgba(0, 0, 0, 0);

            }
        }

    }
}
input[type=range]{
    position: relative;
    top: 0;
    display: inline-block;
    background-color: #e8eef5;
    width: 74%;
    height: 5px;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    &:focus {
        outline: none!important;
        box-shadow: none!important
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #2b87da;
        width: 15px;
        height: 15px;
        border-radius: 15px
    }
    &::-moz-range-track {
        background: transparent;
        border: inherit
    }
    &::-ms-track {
        background: transparent;
        border: inherit;
        color: transparent
    }
    &::-ms-fill-lower,
    &::-ms-fill-upper {
        background: transparent
    }
    &::-ms-tooltip {
        display: none
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background-color: #2b87da;
        width: 15px;
        height: 15px;
        border: 0;
        border-radius: 15px
    }
    &::-moz-range-thumb {
        background-color: #2b87da;
        width: 15px;
        height: 15px;
        border: 0;
        border-radius: 15px
    }
    &::-ms-thumb {
        background-color: #2b87da;
        width: 15px;
        height: 15px;
        border: 0;
        border-radius: 15px
    }
    &+input[type=text]{
        position: absolute;
        top: 0;
        right: 0;
        width: 20%!important;
    }
}