@import "bootstrap.scss";
@import "popup.scss";
@import "control.scss";
@import "component.scss";
@font-face {
    font-family: 'Glyph';
    src: url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff');
}

#tab-description {
    overflow: visible;
    .vd {
        div:not(.form-group),
        p {
            margin-bottom: 0;
        }
    }
}

#modal-image {
    position: fixed;
    .tooltip {
        z-index: 3000;
    }
    .modal-dialog.modal-lg {
        position: static;
        width: 65%;
        .btn-default {
            color: #333!important;
        }
        .btn {
            height: auto;
            margin: 0;
            padding: 6px 12px;
            >i {
                font-size: 14px;
            }
        }
    }
    .fa-5x {
        font-size: 5em;
    }
}

.modal-backdrop {
    display: none;
}

.content {
    .pie {
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
        >.pie-value {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            display: block;
            height: 40px;
            margin-top: -20px;
            font-size: 14px;
            line-height: 40px;
        }
    }
    &.vd {
        .glyphicon {
            font-family: 'Glyph';
        }
        > .vd#sortable{
            &:empty {
                display: none;
                &+.vd-helper {
                    display: none;
                    &+.vd-welcome {
                        display: block;
                    }
                }
            }
        }
        
        .sharrre {
            .buttons {
                margin: 0;
                width: auto;
                .button {
                    background: none;
                    max-width: inherit;
                    padding: inherit;
                    margin: inherit;
                }
            }
        }
        .vd-border {
            position: absolute;
            z-index: 1000;
            display: block;
            visibility: hidden;
            -webkit-transition: all 1s;
            transition: all 1s;
            opacity: 0;
            background: #308cd6;
            &.vd-border-left {
                top: 0;
                bottom: 0;
                left: 0;
                width: 3px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &.vd-border-right {
                top: 0;
                right: 0;
                bottom: 0;
                width: 3px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &.vd-border-top {
                top: 0;
                right: 0;
                left: 0;
                height: 3px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &.vd-border-bottom {
                right: 0;
                bottom: 0;
                left: 0;
                height: 3px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }
        .product-slider {
            >.owl-wrapper-outer {
                box-shadow: none;
            }
            >.owl-controls {
                .owl-pagination {
                    top: 0;
                }
            }
        }
        .block-mouse-toggle {
            position: absolute;
            z-index: 0;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            display: block;
            -webkit-transition: border 0.5s;
            transition: border 0.5s;
            border: 3px solid transparent;
            border-radius: 5px;
            &:hover {
                &~.vd-border {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        [class*=col-] {
            &:not(.product-layout) {
                padding: 0px;
            }
        }
        .block-content {
            &:after {
                display: table;
                content: '';
                clear: both;
            }
            &:empty {
                position: relative;
                min-height: 100px!important;
                cursor: pointer;
                &:after {
                    display: table;
                    content: '';
                    clear: both;
                }
                &:before {
                    display: table;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 28px;
                    height: 28px;
                    margin-left: -5px;
                    cursor: pointer;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    -webkit-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                    border: none !important;
                    border-radius: 50%;
                    background: url(../../image/d_visual_designer/add.svg) no-repeat center;
                    background-color: #72b338;
                }
            }
        }
        .progress {
            height: 44px;
            >.progress-bar {
                padding: 8px 16px;
                text-align: left;
                line-height: 28px;
            }
        }
        .row-placeholder {
            height: 100px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==) repeat;
        }
        .element-placeholder {
            height: 30px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==) repeat;
        }
        .block-container {
            position: relative;
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 0;
            padding: 0;
            &:after {
                display: table;
                content: '';
                clear: both;
            }
            &:before {
                display: table;
                content: '';
            }
        }
        .block-parent {
            z-index: 2;
            min-height: 65px;
            >.control:hover~.vd-border {
                visibility: visible;
                opacity: 1;
            }
            &.active-border {
                border-radius: 5px;
            }
            &.active-control {
                >.control {
                    visibility: visible;
                    opacity: 1;
                    -webkit-animation: bounce-bottom 0.9s  both;
                    -moz-animation: bounce-bottom 0.9s  both;
                    animation: bounce-bottom 0.9s  both;
                }
            }
            &.deactive-control{
                > .control{
                    -webkit-animation: slide-out-bottom 0.2s 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    -moz-animation: slide-out-bottom 0.2s 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: slide-out-bottom 0.2s 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                }
            }
            &.video {
                position: relative;
            }
            &>.block-content {
                padding: 0px;
            }
        }
        .block-inner {
            min-height: 65px;
            >.vd-border {
                background-color: #f4c000;
            }
            >.control:hover~.vd-border {
                visibility: visible;
                opacity: 1;
            }
            &.active-control {
                >.control {
                    visibility: visible;
                    opacity: 1;
                    -webkit-animation: bounce-bottom 0.9s 0.18s  both;
                    -moz-animation: bounce-bottom 0.9s 0.18s both;
                    animation: bounce-bottom 0.9s 0.18s both;
                }
                >.control-top-bordered {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }
                >.block-content {
                    &:empty {
                        &:before {
                            z-index: 1003;
                        }
                    }
                }
            }
            &.deactive-control{
                > .control{
                    -webkit-animation: slide-out-bottom 0.2s 0.15s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    -moz-animation: slide-out-bottom 0.2s 0.15s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: slide-out-bottom 0.2s 0.15s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                }
            }
            &.col-sm-1,
            &.col-sm-2,
            &.col-sm-3 {
                >.control-top {
                    top: -40px;
                }
            }
            &>.block-content {
                min-height: 40px;
                .block-content-empty {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    min-height: 50px;
                    cursor: pointer;
                    outline: #e6e6e6 dotted 1px;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }
            }
        }
        .block-section {
            min-height: 50px;
            margin: 0px;
            margin-top: 0px;
            padding: 0px;
            &.active-control {
                >.control {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &:not(.accordion) {
                display: none;
            }
            &.accordion {
                display: block;
                margin-top: 0px;
                margin-bottom: 2px!important;
                color: #333333;
                background: #ffffff;
                &:not(.active) {
                    max-height: 43px;
                    min-height: 43px;
                }
                &.active {
                    >.vd-panel-heading {
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
                >.vd-panel-heading {
                    box-sizing: border-box;
                    cursor: pointer;
                    -webkit-transition: background .2s ease-in-out;
                    transition: background .2s ease-in-out;
                    background-color: #4c5866;
                    text-align: left;
                    border: solid transparent;
                    border-width: 0;
                    border-radius: 5px;
                    height: 43px;
                    margin-bottom: 0px!important;
                    >.control {
                        visibility: visible;
                        opacity: 1;
                    }
                    >h4.vd-panel-title {
                        margin: 0;
                        padding: 0;
                        line-height: 1;
                        >a.section-heading {
                            position: relative;
                            display: block;
                            box-sizing: border-box;
                            padding: 14px 20px;
                            -webkit-transition: color .2s ease-in-out;
                            transition: color .2s ease-in-out;
                            text-decoration: none;
                            line-height: 1;
                            color: #fff;
                            border: none;
                            background: 0 0;
                            >.title {
                                padding-left: 20px;
                                color: #fff;
                                font-size: 15px;
                                line-height: 15px;
                                margin: 0;
                            }
                            >i {
                                color: #fff;
                                position: absolute;
                                top: 50%;
                                left: 20px;
                                -webkit-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
                &.active {
                    >.vd-panel-body {
                        display: block;
                    }
                }
                >.vd-panel-body {
                    border: 1px solid #4c5866;
                    display: none;
                    min-height: 65px;
                    &>top {
                        right: 0;
                        left: auto;
                    }
                }
            }
            &.active {
                display: block;
            }
            &>.control-popup {
                top: 22px;
                right: -40px;
                left: inherit;
                height: 40px;
                background-color: #AFD23E;
            }
            &>.block-content {
                min-height: 40px;
                height: 100%;
            }
        }
        .block-child {
            position: relative;
            &>.block-button {
                position: absolute;
                z-index: 1002;
                top: calc(50% + 35px);
                left: 50%;
                visibility: hidden;
                padding-top: 20px;
                -webkit-transition: visibility 0s, opacity 0.5s linear;
                transition: visibility 0s, opacity 0.5s linear;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                opacity: 0;
                &>a {
                    display: block;
                    width: 28px;
                    height: 28px;
                    cursor: pointer;
                    border-radius: 50%;
                    background-color: #72b338;
                    &:hover {
                        background-color: #84c24d;
                    }
                }
            }
            &.active-control{
                > .control{
                    -webkit-animation: bounce-bottom 0.9s 0.36s both;
                    -moz-animation: bounce-bottom 0.9s 0.36s both;
                    animation: bounce-bottom 0.9s 0.36s both;
                }
            }
            &.deactive-control{
                > .control{
                    -webkit-animation: slide-out-bottom 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    -moz-animation: slide-out-bottom 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: slide-out-bottom 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                }
            }
            &>.block-content {
                min-height: 35px;
                word-break: break-word;
                .block-title {
                    font-weight: 600;
                }
            }
            &:hover {
                >.control {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

span.module_name {
    width: 100%;
    height: 30px;
    margin-left: 5px;
    padding: 5px;
    color: white;
    border-radius: 4px;
    background: #16F;
}

.helper-sortable {
    position: absolute;
    z-index: 1006;
    display: flex;
    box-sizing: border-box;
    width: auto!important;
    height: auto!important;
    padding: 4px 15px 4px 30px;
    vertical-align: middle;
    color: #FFF;
    border: 1px solid #afd23e;
    border-radius: 3px;
    background-color: #afd23e;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    &.main {
        border: 1px solid #308cd6;
        background-color: #308cd6;
    }
    &.inner {
        border: 1px solid #f4c000;
        background-color: #f4c000;
    }
    &.child {
        border: 1px solid #72b338;
        background-color: #72b338;
    }
    >img {
        display: inline-block;
        margin: 0 8px 0 0;
        vertical-align: middle;
        border-radius: 2px;
    }
}

.video-background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.vd-btn {
    cursor: pointer;
    text-align: center;
}

.vd-btn-small {
    font-size: 9px;
}

.vd-btn-drag {
    background: url(../../image/d_visual_designer/drag-n-drop.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/drag-n-drop-gray.svg) no-repeat center;
    }
}

.vd-btn-edit {
    background: url(../../image/d_visual_designer/settings.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/settings-gray.svg) no-repeat center;
    }
}

.vd-btn-copy {
    background: url(../../image/d_visual_designer/copy.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/copy-gray.svg) no-repeat center;
    }
}

.vd-btn-layout {
    background: url(../../image/d_visual_designer/layout.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/layout-gray.svg) no-repeat center;
    }
}

.vd-btn-add-child {
    background: url(../../image/d_visual_designer/add.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/add-gray.svg) no-repeat center;
    }
}

.vd-btn-add {
    background: url(../../image/d_visual_designer/add.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/add-gray.svg) no-repeat center;
    }
}

.vd-btn-remove {
    background: url(../../image/d_visual_designer/delete.svg) no-repeat center;
    &.gray {
        background: url(../../image/d_visual_designer/delete-gray.svg) no-repeat center;
    }
}

.vd-helper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
    border: 1px dashed rgba(125, 125, 125, .4);
    font-size: 14px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    >.vd-button {
        display: inline-block;
        width: 39px;
        height: 38px;
        cursor: pointer;
        -webkit-transition-property: none;
        transition-property: none;
        border: none !important;
        border-radius: 6px;
        background-color: #C9C9C9;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            opacity: 0.7;
        }
    }
}

.vd-welcome {
    display: none;
    margin: 14px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    .vd-welcome-brand {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .vd-welcome-header {
        margin-top: 20px;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: #656565;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.4em;
    }
    .vd-button-group {
        margin-top: 20px;
        margin-bottom: 20px;
        .vd-button {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            min-width: 190px;
            margin: 10px 10px 0;
            padding: 14px 21px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-property: color, background, border, opacity, -webkit-transform;
            transition-property: color, background, border, opacity, -webkit-transform;
            transition-property: color, background, border, opacity, transform;
            transition-property: color, background, border, opacity, transform, -webkit-transform;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            text-transform: capitalize;
            word-wrap: break-word;
            color: #fff;
            border-radius: 3px;
            outline: 0;
            background-color: #00aeee;
            font-size: 14px;
            font-weight: 400;
            &#vd-add-button{
                background-image: url(../../image/d_visual_designer/add-block.svg);
                background-repeat: no-repeat;
                background-position: 25% center;
            }
            
            &.vd-add-text-block {
                background-color: #73C02A;
            }
            &.vd-add-template {
                background-color: #FEB710;
                background-image: url(../../image/d_visual_designer/template-add.svg);
                background-repeat: no-repeat;
                background-position: 15% center;
            }
        }
    }
}