.vd-popup {
    position: fixed!important;
    z-index: 1003!important;
    top: 20%;
    left: 25%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    flex-direction: column;

    width: 50%;
    min-width: 400px;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    border-radius: 5px;
    background: inherit;

    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    .note-editor.note-frame.panel.panel-default{
        margin-left:0;
        margin-right:0;
        margin-top:0;
        margin-bottom:0;
        .note-btn{
            color: #333!important;
        }
        .modal.in{
            .modal-dialog{                    
                .modal-content{
                    .modal-header{
                        h4.modal-title{
                            padding:0;
                            margin: 0 20px 0 0;
                            line-height: 1.42857143;
                        }
                    }
                }
            }
        }
    }
    #tab-save-template{
        > .popup-footer{
            margin: 15px -5px -5px -5px;
        }
    }
    &:not(.drag){
        max-height: 50%;

        -webkit-transition: all .3s;
        transition: all .3s;
    }
    
    &.inner{
        >.popup-header{
            background: #f4c000;
            > a.close{
                &:hover{
                    background-color: #f7cd32;
                }
            }
        }
        .popup-tabs{
            .vd-nav{
                background: #FFD434;
                li{
                    > a{
                        &:hover{
                            background-color: #FFD434;
                        }
                    }
                }
                li.active{
                    > a{
                        background-color:#FFDD5F;
                    }
                }
            }
        }
    }
    &.child{
        >.popup-header{
            background: #72b338;
            > a.close{
                &:hover{
                    background-color: #84c24d;
                }
            }
        }
        .popup-tabs{
            .vd-nav{
                background: #8bc15b;
                li{
                    > a{
                        &:hover{
                            background-color: #a6d27e;
                        }
                    }
                }
                li.active{
                    > a{
                        background-color:#a6d27e;
                    }
                }
            }
        }
    }
    
    &.add_block{
        > .popup-content{
            padding: 0px 15px;

            border-bottom: 1px solid #c8c8c8;
        }
    }
    
    &.edit-layout{
        > .popup-content{
            padding: 0px;

            border-bottom: 1px solid #c8c8c8;
            > .setting{
                padding: 0px 30px 30px 30px;
            }
        }
    }
    
    &.add_template{
        left: 20%;

        width: 60%;
        > .popup-content{
            padding: 5px;

            border-bottom: 1px solid #c8c8c8;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    &.add_block{
        left: 20%;

        width: 60%;
        > .popup-header{
            height: 52px;

            background: #73B338;
            
            > .title{
                margin: 0 0 8.5px 0;
                padding: 0;

                text-align: left;

                color:white;

                font-size: 20px;
            }
            > a.close{
                position: absolute;
                top: 0px;
                right: 0px;

                width: 52px;
                height: 52px;

                opacity: 1;
                background: url(../../image/d_visual_designer/cross.svg) no-repeat center;
                &:hover{
                    border-top-right-radius: 5px;
                    background-color: #85C24D;
                }
            }
        }
        > .popup-content{
            max-height: 450px;

            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    }
    .popup-header{
        margin: 0px!important;
        padding: 15px 15px 0px 15px;

        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: #308cd6;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        > a.close{
            position: absolute;
            top: 0px;
            right: 0px;

            width: 53px;
            height: 53px;

            opacity: 1;
            background: url(../../image/d_visual_designer/cross.svg) no-repeat center;
            &:hover{
                border-top-right-radius: 5px;
                background-color: #56a6e6;
            }
        }
        > .title{
            margin: 0 0 8.5px 0;
            padding: 0;

            text-align: left;

            color:white;
            border: 0;

            font-size:27px;
            line-height: 29px;
        }
        > div.search {
            position: absolute;
            top: 15px;
            right: 55px;
            
            > i {
                position: absolute;
                z-index: 99;
                top: 10px;
                right: 175px;

                cursor: pointer;

                color: #BDC0C6;
            }
            
            > input {
                position: relative;
                left: 0;

                display: inline-block;

                box-sizing: border-box;
                width: 200px;
                margin: 0;
                padding: 7px 12px 7px 32px;

                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                vertical-align: middle;

                color: #333;
                border: none;
                border-radius: 5px;

                font-family: inherit;
                font-size: 12px;
                line-height: normal;
            }
        }
        
    }
    .popup-tabs{
        .vd-nav{
            overflow: hidden;

            margin: 0;
            padding: 0;

            list-style-type: none;

            background-color: #539FDF;
            >li{
                float: left;
                >a{
                    display: block;

                    padding: 10px 26px;

                    text-align: center;
                    text-decoration: none;

                    color: white;
                    &:hover{
                        background-color: #308CD6;
                    }
                }
                &.active{
                    > a{
                        background-color: #7FB9E9;
                    }
                }
            }
        }
    }
    .popup-content{
        overflow-y: auto;

        padding: 30px;

        border-right: 1px solid #c8c8c8;
        border-left: 1px solid #c8c8c8;
        background-color: #fff;

        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        .form-group{
            margin: 0px 0px 20px 0px;
            margin-bottom: 0px;

            font-family: Open Sans,Helvetica,Roboto,Arial,sans-serif;
            > label{
                display: inline-block;

                margin: 0 0 4px;

                text-align: left;

                color: #32373c;

                font-size: 14px;
                font-weight: 600;
            }
            > .fg-setting{
                width: 100%;
                .wrap-setting{
                    float:left;

                    width: 20%;
                    margin: 0 5% 0 0;

                    text-align: center;
                }
                > .fg-color{
                    width: 30%;
                }
            }
        }
        .tab-content{
            position: static;
            
            display: block;
            
            margin: 0;

            padding: 0;

            line-height: normal;

            border-width: 0;
            background: white;
        }
        .layout-edit{
            > h3{
                position: relative;

                box-sizing: border-box;
                width: 100%;
                margin: 0;
                padding: 21px 30px;

                cursor: move;
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                color: #fff;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: #2A4B80;

                font-size: 1.125rem;
                font-size: 1.125rem;
                font-weight: 600;
                line-height: 1rem;
            }
            > ul.column-layout{
                padding: 30px 0 10px 30px!important;

                list-style-type: disc;

                line-height: 26px;
                > li{
                    display: inline-block;

                    box-sizing: border-box;
                    width: 27%;
                    margin-right: 20px;
                    margin-bottom: 20px;

                    cursor: pointer;
                    
                    > span.column{
                        display: inline-block;
                        float: left;

                        box-sizing: border-box;
                        padding: 0 2px;
                        > span{
                            display: block;

                            height: 30px;

                            -webkit-transition: background .2s ease;
                            transition: background .2s ease;
                            text-align: center;
                            text-indent: -9999em;

                            background: #29c4a9;

                            font-size: 11px;
                        }
                    }
                }
            }
        }
        .popup-new-template{
            overflow-y: auto;

            height: auto;
            padding: 5px;
            
            > .element{
                position: relative;

                float: left;
                overflow: hidden;

                height: 75px;
                margin: 0 !important;
                padding: 5px !important;

                list-style: none;

                -webkit-transition: border-color .2s;
                transition: border-color .2s;
                &:hover > .template > a{
                    cursor: pointer;

                    color: white;
                    background: #73B338;
                }
                > .template{
                    display: table;

                    width: 230px;
                    height: 69px;

                    border: 1px solid #F1F4F9;
                    background: #F1F4F9;
                    > a{
                        position: relative;

                        display: table-cell;

                        padding: 2px 4px 2px 67px;

                        vertical-align: middle;
                        white-space: normal;
                        text-decoration: none;

                        color: #000;
                        outline: 0;

                        font-weight: 600;
                        line-height: 14px;
                    }
                }
            }
            
            > .title{
                margin: 0 1em 0 0;

                color: inherit;

                font-size: 20px;
                font-weight: 300;
                line-height: normal;

                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }
            
            .form-group{
                margin-bottom: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .popup-new-block{
            overflow-y: auto;

            height: auto;
            margin: 0px;
            
            > .title{
                margin: 0 1em 0 0;

                color: inherit;

                font-size: 20px;
                font-weight: 300;
                line-height: normal;

                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
            }
            .form-group{
                margin-bottom: 0px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .element:hover
            {
                > .block{
                    cursor:pointer;

                    color:#000;
                    background: #f5f5f5;
                    > a{
                        color: #000;
                        >i{
                            color: #000;
                        }
                    }
                }
            }
            .element{
                position: relative;

                float: left;
                overflow: hidden;

                height: 75px;
                padding: 0px;

                list-style: none;

                -webkit-transition: border-color .2s;
                transition: border-color .2s;
                
                
                .block{
                    display: table;

                    width: 100%;
                    height: 69px;

                    border: 0;
                    background: #fff;
                    a{
                        position: relative;

                        display: table-cell;

                        padding: 2px 4px 2px 57px;

                        vertical-align: middle;
                        white-space: normal;
                        text-decoration: none;

                        color: #000;
                        outline: 0;

                        font-weight: 600;
                        line-height: 14px;
                        >span{
                            position: absolute;
                            top: 50%;
                            left:10px;

                            display: block;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;

                            width: 36px;
                            height: 36px;

                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);

                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            > .image{
                                padding:0;
                            }
                        }
                        
                        .description{
                            position: relative;
                            top: auto;
                            left: auto;

                            display: block;

                            width: auto;
                            height: auto;
                            margin-top: 3px;

                            color: #000;
                            background-color: transparent;

                            font-size: 11px;
                            font-weight: 400;
                            font-style: normal;
                        }
                    }
                    
                }
            }
        }
    }
    .popup-footer{
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #f6f6f6;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        a{
            position: relative;

            display: inline-block;

            box-sizing: border-box;
            width:100%;
            min-width: 100px;
            margin: 0;
            padding: 10px 21px;

            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
            -webkit-transition-duration: .2s;
            transition-duration: .2s;
            -webkit-transition-property: color,background,border,opacity,-webkit-transform;
            transition-property: color,background,border,opacity,-webkit-transform;
            transition-property: color,background,border,opacity,transform;
            transition-property: color,background,border,opacity,transform,-webkit-transform;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            word-wrap: break-word;

            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            // border-radius: 3px;
            outline: 0;
            background: 0 0;

            font-size: 14px;
            font-weight: 400;
            &.save{
                color: #fff;
                background-color: #308cd6;
                &.saved{
                    color: #fff;
                    background-color: #7bcd2d;
                    &:hover{
                        background-color: #78C82C;
                        
                    }
                }
                &:hover{
                    background-color: #56a6e6;
                }
                
                > i{
                    margin-right: 5px;
                }
            }
            &.cancel{
                color: #fff;
                background-color: #bcbcbc;
                &:hover{
                    background-color: #afafaf;
                }
            }
        }
    }
    
    & > div.body{
        overflow-x: hidden;
        overflow-y: auto;

        max-height: 400px;
    }
    .ui-resizable-handle {
        position: absolute;

        display: block;

        font-size: 0.1px;

        -ms-touch-action: none;
        touch-action: none;
    }
    .ui-resizable-disabled .ui-resizable-handle,
    .ui-resizable-autohide .ui-resizable-handle {
        display: none;
    }
    .ui-resizable-n {
        top: -5px;
        left: 0;

        width: 100%;
        height: 7px;

        cursor: n-resize;
    }
    .ui-resizable-s {
        bottom: -5px;
        left: 0;

        width: 100%;
        height: 7px;

        cursor: s-resize;
    }
    .ui-resizable-e {
        top: 0;
        right: -5px;

        width: 7px;
        height: 100%;

        cursor: e-resize;
    }
    .ui-resizable-w {
        top: 0;
        left: -5px;

        width: 7px;
        height: 100%;

        cursor: w-resize;
    }
    .ui-resizable-se {
        right: 1px;
        bottom: 1px;

        width: 12px;
        height: 12px;

        cursor: se-resize;
    }
    .ui-resizable-sw {
        bottom: -5px;
        left: -5px;

        width: 9px;
        height: 9px;

        cursor: sw-resize;
    }
    .ui-resizable-nw {
        top: -5px;
        left: -5px;

        width: 9px;
        height: 9px;

        cursor: nw-resize;
    }
    .ui-resizable-ne {
        top: -5px;
        right: -5px;

        width: 9px;
        height: 9px;

        cursor: ne-resize;
    }
    
}
.popup-overlay{
    position: fixed;
    z-index: 1000;
    right: 0px;
    bottom: 0px;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background-color: rgba(80, 80, 80, 0.5);
}