<button type="button" id="vd-button-image" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
<button type="button" id="vd-button-clear" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>