<div class="vd vd-popup edit-layout">
    <div class="popup-header">
        <h2 class="title">{{text_layout}}</h2>
        <a class="close"></a>
    </div>
    <div class="popup-content">
        <div class="row layout-edit">
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='12') ? 'active':'' %>">
                <a id="edit-layout" data-layout="12">
                    <span class="layout-12"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='6+6') ? 'active':'' %>">
                <a id="edit-layout" data-layout="6+6">
                    <span class="layout-6"><span></span></span>
                    <span class="layout-6"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout<%= (size=='4+4+4') ? 'active':'' %>">
                <a id="edit-layout" data-layout="4+4+4">
                    <span class="layout-4"><span></span></span>
                    <span class="layout-4"><span></span></span>
                    <span class="layout-4"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='3+3+3+3') ? 'active':'' %>">
                <a id="edit-layout" data-layout="3+3+3+3">
                    <span class="layout-3"><span></span></span>
                    <span class="layout-3"><span></span></span>
                    <span class="layout-3"><span></span></span>
                    <span class="layout-3"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='8+4') ? 'active':'' %>">
                <a id="edit-layout" data-layout="8+4">
                    <span class="layout-8"><span></span></span>
                    <span class="layout-4"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='4+8') ? 'active':'' %>">
                <a id="edit-layout" data-layout="4+8">
                    <span class="layout-4"><span></span></span>
                    <span class="layout-8"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='3+9') ? 'active':'' %>">
                <a id="edit-layout" data-layout="3+9">
                    <span class="layout-3"><span></span></span>
                    <span class="layout-9"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='9+3') ? 'active':'' %>">
                <a id="edit-layout" data-layout="9+3">
                    <span class="layout-9"><span></span></span>
                    <span class="layout-3"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='6+3+3') ? 'active':'' %>">
                <a id="edit-layout" data-layout="6+3+3">
                    <span class="layout-6"><span></span></span>
                    <span class="layout-3"><span></span></span>
                    <span class="layout-3"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='3+3+6') ? 'active':'' %>">
                <a id="edit-layout" data-layout="3+3+6">
                    <span class="layout-3"><span></span></span>
                    <span class="layout-3"><span></span></span>
                    <span class="layout-6"><span></span></span>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 layout <%= (size=='3+6+3') ? 'active':'' %>">
                <a id="edit-layout" data-layout="3+6+3">
                    <span class="layout-3"><span></span></span>
                    <span class="layout-6"><span></span></span>
                    <span class="layout-3"><span></span></span>
                </a>
            </div>
        </div>
        <div class="setting">
            <div class="form-group">
                <label class="control-label">{{entry_size}}</label>
                <div class="fg-setting">
                    <div class="input-group">
                        <input type="text" class="form-control" name="size" value="<%= size %>"/>
                        <span class="input-group-btn">
                            <button id="layoutSet" class="btn btn-default" type="button">{{text_set_custom}}</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="target" value="<%= target %>"/>
        <input type="hidden" name="designer_id" value="<%= designer_id %>"/>
    </div>
</div>